/* $background-color_1: rgb(173, 255, 106);

:host {
	&::ng-deep {
		.p-menubar {
			border: 1px green;
			border-style: solid;
			border-radius: 20px;
			box-shadow: 0px 4px 6px 0px green;
		}
		.p-menuitem {
			background-color: $background-color_1;
			margin: 12px;
		}
	}
} */