


<div class="flex mx-auto mx-md-0" [style]="{'width': '100%', height: '4svh'}">
  <p-menu class="" #menu [model]="items" appendTo="body" [popup]="true" [style]="{'line-height': '1' ,'pointer-events': 'all'}"></p-menu>
  <button pButton type="button" (click)="menu.toggle($event)" label="{{ items[0].nombre }}">
    <p-avatar 
    [image]="items[0].picture"
    size="xlarge" 
    shape="circle"
    styleClass="mr-2"
    pBadge 
    value="4" 
    severity="success"
    [style]="{width: '5svh', 'color':'#fffff' , height: '5svh' , 'margin-left': '0.5svw' , top: '0.25svh'}">
  </p-avatar>
  </button>
</div>

<!-- <div class="flex">
<p-menu class="flex mx-auto mx-md-none" #menu [model]="items" appendTo="body" [popup]="true" 
[style]="{'width': '20svw', height: '4svh' , 'line-height': '1' ,'pointer-events': 'all'}"></p-menu>
<button pButton type="button" (click)="menu.toggle($event)" label="{{ items[0].nombre }}">
  <p-avatar 
  [image]="items[0].picture"
  size="xlarge" 
  shape="square"
  styleClass="mr-2"
  pBadge 
  value="4" 
  severity="success"
  [style]="{width: '5svh', 'color':'#fffff' , height: '5svh' , top: '0.25svh'}">
</p-avatar>
</button>
</div> -->

