/* $background-color_1: rgb(173, 255, 106);

:host {
	&::ng-deep {
		.p-menubar {
			border: 1px green;
			border-style: solid;
			border-radius: 20px;
			box-shadow: 0px 4px 6px 0px green;
		}
		.p-menuitem {
			background-color: $background-color_1;
			margin: 12px;
		}
	}
} */


.p-button {
	font-size: calc(0.75em + 0.390625vw);
	width: 30svw;
}

.p-menu	{
	padding:.25rem 0;
	background:#eff3f8;
	color:#043d75;
	border:1px solid #dfe7ef;
	border-radius:6px;
	width:30svw;
}


@media (max-width: 767px) {
	.p-button {
		font-size: calc(0.75em + 0.390625vw);
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-right: auto;
		margin-left: auto;
		width: 95svw;
	}
}

@media (min-width: 768px) and (max-width: 960px) {
	.p-button {
		font-size: calc(0.75em + 0.390625vw);
		display: flex;
		flex-direction: row;
		width: 40svw;
	}
}
